*{
  margin: 0;
  padding: 0;
}

body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #ddd;
  font-size: 14px;
}

span.red {
  color: red;
}

header {
  background-image: url("programing.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

#logo {
  padding: 20px 0;
  text-align: center;
}

#logo img {
  max-width: 120px;
  border: 5px solid #fff;
  border-radius: 100%;
}

#logo h1 {
  letter-spacing: 0.15em;
  color: #fff;
  text-shadow: 1px 1px 0px #000;
}


nav {
  margin: 0 0 30px 0;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
}

nav ul {
  margin: 0 10px;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
  display: inline-block;
}

nav ul li a {
  padding: 15px 10px;
  text-decoration: none;
  color: #999;
  font-weight: bold;
}

nav ul li a.selected {
  color: #000;
}

.container {
  max-width: 800px;
  margin: 10px auto 0;
  background-color: #fff;
    text-align: center;
}

section {
  padding: 30px 20px;
}

section h2 {
  padding: 10px 0 20px 0;
  text-align: center;
  letter-spacing: 0.15em;
}

#contact{
	width:500px;
}
#contact #title-sub-divider h3{
	background-color:#FFF;
	width:85px;
	float:right;
}
#contact-form input, textarea{
	border:1px solid #c1c1c1;
	margin-bottom:18px;
	
	font: italic 16px/20px Georgia, "Times New Roman", Times, serif;
	color: #a9a9a9;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	
	-webkit-box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.1); 
}
#contact-form input{
	height:50px;
}
#contact-form textarea{
	width:500px;
	height:200px;
	float:left;
}
#contact-form #name{
	width:360px;
	padding:0px 35px;
	background:url(images/icon-name.png) no-repeat 15px 18px;
	float:left;
}
#contact-form #email{
	width:360px;
	padding:0px 35px;
	background:url(images/icon-email.png) no-repeat 15px 18px;
	float: left;
}
#contact-form #submit{
	
	font-family: 'Oswald', sans-serif;
	font-style:normal;
	font-size:18px;
	text-transform:uppercase;
	color:#fff;
	float:right;
	
	-webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1); 
	
	background: rgb(255,96,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,96,0,1) 0%, rgba(255,120,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,96,0,1)), color-stop(100%,rgba(255,120,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,96,0,1) 0%,rgba(255,120,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,96,0,1) 0%,rgba(255,120,0,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,96,0,1) 0%,rgba(255,120,0,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6000', endColorstr='#ff7800',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,96,0,1) 0%,rgba(255,120,0,1) 100%); /* W3C */
	
}

footer{
	clear:both;
	width:100%;
	padding: 20px 0;
  font-size: 93%;
  text-align: center;
  background-color: #ccc;
  color: #666;
}